@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0093E9;
    background-image: linear-gradient(135deg, #0093E9 0%, #80D0C7 100%);
    height: 100vh;
}

div.auth {
    background-color: #FFFFFF;

    /* width: 28rem; */
    min-width: 25rem;
    max-width: 31rem;

    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    text-align: center;

    padding: 1.5rem;
    border-radius: 0.5rem;
}
div.auth h1 {
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 0.1rem solid #E6EDF3;
    margin-top: 0;
    margin-bottom: 2rem;
}
div.auth form {
    margin: 1rem;
}
div.auth form input {
    font-size: 1.4rem;

    width: 100%;

    height: 4rem;

    padding: 0 0.5rem;
    border-width: 0 0 1px 0;
    margin: 0.5rem 0;

    outline: none;
}
div.auth form input:hover {
    border-bottom: 1px solid #0086da;
}
div.auth form input::placeholder{
    color: rgb(163,163,163);
}

div.auth form p {
    font-size: 1.3rem;
    text-align: left;
    color: #757575;
    padding: 1.5rem 0 1.5rem 1.5rem;

}
div.auth form p:hover {
    cursor: pointer;
    color: rgb(80,80,80);

}

div.auth form button {
    color: #FFFFFF;
    background-color: #0786D8;
    width: 90%;
    padding: 0.9rem 2.2rem;
    border-radius: 1.7rem;
    border: none;
}
div.auth form button:hover {
    cursor: pointer;
}

div.auth p {
    font-weight: 500;
    font-size: 1.3rem;
}
div.auth p a{
    text-decoration: none;
}